/* main.css */

html,
body {
  background-color:black; 
}

/****** header ******/
header {
  background-image: url("../images/DetailedLovecraft.jpg");
  background-color: #fcfcdc;
  font-family: "Literata", serif;
  color:white; 
}

header > h1 {
  text-align: center;
}

header > a {
  text-align: right !important;
  vertical-align: top !important;
}
header hr {
  width: 30%;
}

/****** main content ******/
img{
  margin: 10px;
}

main {
  text-align: center;
}

ul {
  background-color: white;
  border: 8px double black;
  border-radius: 4px;
  margin: 0 auto;
  padding: 20px;
  text-align: left;
  width: 200px;
}

ul li {
  margin: 5px;
}

a:link { color: #3366BB; }
a:visited { color: #663366 }
a:visited:hover { color: #0b0080; }
a:hover { color: gray; }
a:active { background-color: yellow; border: 4px solid red;}


/****** footer ******/
footer {
  font-size: small;
  text-align: center;
}